@model PseudoCQRS.Examples.NerdDinner.Modules.Login.LoginViewModel

@using ( Html.BeginForm() )
{
@Html.TextBoxFor( x => x.Username )
@Html.TextBoxFor( x => x.Password )
<button type="submit">Login</button>	
}
