@model List<PseudoCQRS.Examples.NerdDinner.Modules.DinnerList.DinnerListViewModel>
@{
    ViewBag.Title = "List";
}
<h2>List of Dinners</h2>
@foreach ( var dinner in Model )
{
	<div>
		<h3>@dinner.Title</h3>
		<div>Date: @dinner.DateTime</div>
		<div>Hosted By:@dinner.HostedBy</div>
	</div>
}
<a href="/DinnerCreate/Execute">Create a dinner</a>