@model PseudoCQRS.Examples.NerdDinner.Modules.DinnerList.DinnerListViewModel
@{
	ViewBag.Title = "List";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>List of Dinners</h1>
<div class="well">
	<div>
		Filter by Host:
		@Html.DropDownListFor( x => x.HostedByUserId, new SelectList( Model.Hosts, "Key", "Value" ), "Select host", new
		{
			onchange = "location.href='?HostedByUserId=' + this.value"
		} )
	</div>

</div>
@foreach ( var dinner in Model.Dinners )
{
	<div class="panel panel-default">
		<div class="panel-body">
			<h4>@dinner.Title</h4>
			<div>Date: @dinner.DateTime</div>
			<div>Hosted By:@dinner.HostedBy</div>
		</div>
	</div>
}
<button class="btn btn-primary" onclick=" location.href = '/DinnerCreate/Execute' ">Create a dinner</button>